:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --accent-color-title: #FFFFFF;
    --accent-color-logo: #000000;
    --backgroung-accent: #2F303A;
    --transparent-color: rgba(255, 255, 255, 0.6);
    --icon-color: #AFB1B8;

}
